.about {
  background-color: #1abc9c;
  color: #ffffff;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  max-width: 100%;
}

.content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.star-line {
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.star-line::before,
.star-line::after {
  content: "";
  height: 4px;
  width: 80px;
  background-color: #ffffff;
  
  margin: 0 15px;
}

.star-line i {
  color: #ffffff;
  font-size: 1.5rem;
}

.text {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.content p {
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.4;
  max-width: 45%;
}
